* {
	transition: all .3s ease-in;
	box-sizing: border-box;
}
 
body {
	margin: 0;
	border: 20px solid #2b81ac;
	background-color: #3399cc;
	color: #ffffff;
	font-family:  “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
	min-height: 100vh;
	min-width: 620px;
}

h1 {
	margin: 35px auto 30px 25%;
	font-size: 22px;
	min-width: 360px;
}

.container {
	font-size: 0;
	margin: auto 25%;
	padding: 0;
	min-width: 430px;
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	border: 2px solid #fff;
}

.towns {
	text-align: center;
	color: #ffffff;
	white-space: nowrap;
	border: 2px solid #fff;
	list-style: none;
	flex-basis: 25%;
	flex-grow: 1;
	padding: 15px;
}

span {
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: normal;
	font-size: 18px;
	display: block;
	margin-bottom: 10px;
}	

.large {
	flex-grow: 2;
	flex-basis: 50%;	
}

.xlarge {
	flex-grow: 4;
	flex-basis: 100%;
} 

ul:hover li {
	opacity: 0.5;
}

.towns:hover {
	opacity: 1;
}

.towns p {
	opacity: 0.8;
	font-size:  15px;
	margin: 5px;
}

.cyan {
	background-color: #3cc;
}

.purple {
	background-color: #969;
}

.red {
	background-color: #c24747;
}

.orange {
	background-color: #e2674a;
}

.yellow {
	background-color: #fc6;
}

.light-green {
	background-color: #9c9;
}

.dark-green {
	background-color: #699;
}

.pink {
	background-color: #c69;
}

.green{
	background-color: #396;
}

.dark-purple {
	background-color: #666699;
}

.farewell {
	margin-bottom: 90px;
	margin-left: 25%;
	margin-top: 20px;
	font-size: 15px;
}